@charset "utf-8";
/* CSS Document */
*{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

@font-face {
    font-family: "BungeeShade";
    src: url(' ../font/Bungee_Shade/BungeeShade-Regular.ttf');
}

header {
    width: 100%;
    height: 150px;
    position:relative;
}

#esc_left{
	width: 15%;
    float: left;
}

#esc_left img{
    width: 40%;
    height: auto;
}

#nametitle{
	width: 70%;
    float: left;
	padding:  10px 0;
	text-align: center;
	background-color:#006699;
	border-radius: 15px;
	color: #fff;
}

.titles{
	font-family: "BungeeShade";
	font-size: 30px;
}


#esc_right{
	padding-top: 20px;
	width: 15%;
    float: left;
}

#esc_right img{
    width: 70%;
    height: auto;
}

header img:hover{
	transform: scale(0.7);
}

header img{
	transition:all 0.5s ease;
}

#contenido {
    width: 100%;
    margin: 0px auto;
	background: #000000;
}

#contenido_1 {
    float: left;
    width: 30%;
}

#contenido_2 {
    float: left;
    width: 40%;
}

#contenido_2 div{
	padding-left: 15%;
}

#contenido_3 {
    float: left;
    width: 30%;
}

.title{
	font-weight: bold;
	font-size: 18px;
}

#button_1{
	float: left;
    width: 50%;
	padding-top: 50px;
	padding-bottom: 30px;
}

#button_2{
	float: left;
    width: 50%;
	padding-top: 50px;
	padding-bottom: 30px;
}

.button {
  width: 100%;
  height: 40px;
  padding-top: 5px;
	padding-left: 10%;
	padding-right: 10%;
  border-radius: 15px;
  background: #017bab;
  border: none;
  color: white;
  margin-bottom: 16px;
}

.button:hover{
	transform: scale(0.8);
}

.button{
	transition:all 0.2s ease;
}

@media screen and (max-width: 1200px){
	#nametitle{
	width: 70%;
    float: left;
	padding:20px 0;
}
	
	.titles{
		font-family: "BungeeShade";
		font-size: 22px;
	}

}

@media screen and (max-width: 800px){
	#esc_left{
	padding-top: 10px 0;
	width: 15%;
    float: left;
}

#esc_left img{
    width: 65%;
    height: auto;
}

#nametitle{
	width: 70%;
    float: left;
	padding:12px 0;
}
	
	.titles{
		font-family: "BungeeShade";
		font-size: 15px;
	}


#esc_right{
	padding-top: 20px;
	width: 15%;
    float: left;
}
	
	#esc_right img{
	width: 100%;
    height: auto;
}
	#contenido_1 {
    float: left;
    width: 10%;
}

#contenido_2 {
    float: left;
    width: 80%;
}

#contenido_3 {
    float: left;
    width: 10%;
}

}







