@charset "utf-8";
/* CSS Document */
* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #CCCCCC;
}

b{
	color:blue;
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

h2{
	display: grid;
	padding: 50px;
	text-align: center;
	background-color:#006699;
	color:white;
	margin-right: 150px;
	margin-left: 120px;
}

legend{
	text-align: center;
}

.formulario{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap:20px;
}

/*
.form_Procedencia{
	grid-template-columns: 1fr 1fr;
	gap:30px;
}
*/

.etiqueta{
	display:block;
	font-weight: 700;
	padding: 15px;
	cursos: pointer;
}

.form_input_otra{
	width: 100%;
	background: #FFFFFF;
	border: 5px solid transparent;
	border-radius: 5px;
	height:30px;
	line-height: 30px;
	padding: 0 30px 0 10px;
	transition: .3s ease all;
}

.form_input_otra:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0 30px rgba(163,163,163,0.4);
}

.form_input_general{
	position:relative;
}

.form_input{
    width: 100%;
	background: #FFFFFF;
	border: 5px solid transparent;
	border-radius: 5px;
	height:30px;
	line-height: 30px;
	padding: 0 30px 0 10px;
	transition: .3s ease all;
}

.form_input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0 30px rgba(163,163,163,0.4);
}

.form_error{
	font-size: 15px;
	margin-bottom: 0;
	display:none;
}

.form_input_general_otra{
	margin: 0.5rem;
}

.form_input_general_otra_activa{
	display:block;
}

.form_error_activo{
	display:block;
}

.validacion_estado{
	position:absolute;
	right: 8px;
	bottom: 6px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.form_Procedencia,.form_mensaje,.form_All_enviar,.form_All_limpiar{
	grid-column: span 2;
}


.form_input_prom{
	width: 10%;
	background: #FFFFFF;
	border: 5px solid transparent;
	border-radius: 5px;
	height:30px;
	line-height: 30px;
	padding: 0 30px 0 10px;
	transition: .3s ease all;
}

.form_input_prom:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0 30px rgba(163,163,163,0.4);
}




.validacion_estado_prom{
	position:absolute;
	left: 120px;
	bottom: 6px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.form_mensaje{
	height: 45px;
	line-height: 45px;
	background: #F04646;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.form_mensaje_activo{
	display: block;
}

.form_mensaje p{
	margin: 0;
}

.form_All_enviar,.form_All_limpiar{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario_btnE,.formulario_btnL{
	height: 45px;
	line-height: 45px;
	width: 260px;
	background: #006699;
	color:white;
	font-weight: bold;
	border:none;
	border-radius: 3px;
	cursor:pointer;
	transition: .1s ease all;
}

.form_correcto .validacion_estado{
	color: #006699;
	opacity: 1;
}

.form_correcto .validacion_estado_prom{
	color: #006699;
	opacity: 1;
}

.form_incorrecto .etiqueta{
	color:#F04646;
}

.form_incorrecto .validacion_estado{
	color:#F04646;
	opacity: 1;
}

.form_incorrecto .validacion_estado_prom{
	color:#F04646;
	opacity: 1;
}

.form_incorrecto .form_input{
	border: 3px solid #F04646;
}

@media screen and (max-width: 800px){
	.formulario{
		grid-template-columns: 1fr;
	}
	.form_Procedencia,.form_mensaje,.form_All_enviar,.form_All_limpiar{
	grid-column: 1;	
}
	.formulario_btnE,.formulario_btnL{
		width: 100%;
	}
}